.footerBG {
    background-color: #54585ce0 !important;
    max-height: 160px;
}

.footerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    max-width: 75%;
    max-height: 80%;
}