@font-face {
    font-family: "Elkwood";
    src: url(../Fonts/elkwood-webfont.woff2);
}

.navbarLogo {
    font-family: Elkwood;
    font-size: 40px;
}

.navbarSnowflakePos {
    padding-bottom: 15px;
}

.navbarItemSpacing {
    margin-right: 50px;
}

.ElkwoodNavbar{
    font-family: Elkwood;
    font-size: 25px;
}

.navbarBG {
    background-color: #ffffffd3;
}

@media (min-width: 992px) {
    .navbar-custom {
        height: 45px;
    }
}