.appHeader {
    width: 100vw;
    height: 65px;
    background-color: white;
}

.appBody {
    width: 100vw;
    min-height: calc(100vh - 130px); /* Remove height of header and nav from full height */
    margin-top: 65px; /* Same as app header height */
    background-color: #606569;
}

.appNav {
    width: 100vw;
    height: 65px;
    background-color: white;
}

.appTitel {
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
}

.centerTextHorizontaly {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navButton {
    width: 100%;
    font-size: 25px;
}