.mainBG{
    background-image: url(../img/mainBG.jpg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 991.98px){
    .mainBG {
        background-image: url(../img/mainBG_mobile.jpg);
    }
}

.noPadding {
    padding: 0px;
}


.bigLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-bottom: -10px;
}

.dateLogo {    
    color: #606569;
    font-size: 40px;
    margin-top: -25px;
    text-align: center;
}

.dropShadow {
    box-shadow: 0px 5px 15px #464444ab;
}

.BGTransparent {
    background-color: #ffffffe3;
}

.buttonStyle {
    background-color: #606569;
    border: none;
    padding: 10px 25px 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.buttonStyle p {
    color: white;
    font-family: Elkwood;
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
}

.startPageInfo {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px){
    .startPageInfo {
        margin-top: 80px;
        padding-left: 12%;
    }
}

@media (max-width: 991.98px){
    .startPageInfo h1 {
        font-size: 33px;
    }

    .startPageInfo h3 {
        font-size: 23px;
    }
}

.modal-content {
    border-radius: 0px;
    border: none;
}
/*
.modal {
    width: 50%;
}
*/

.modalButtonStyle {
    margin: 0px 15px;
    background-color: #606569;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.modalButtonStyle h3 {
    margin: 0px;
    padding: 0px;
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 998; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(255, 255, 255, 0.897); /* Set a background color */
    color: #606569; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 30px; /* Rounded corners */
    font-family: ChampagneLimousines;
    font-size: 18px; /* Increase font size */
}

.BGGrey {
    background-color: #606569;
}

.centerTextInDiv {
    text-align: center;
}

.invisibleSpacer {
    min-height: 500px;
}

.paddingBottom {
    padding-bottom: 100px;
}

.paddingTop{
    padding-top: 100px;
}

.qnaBox {
    margin: 8px 20px;
    min-width: 80%;
}

.qnaBound {
    width: 50%;
    margin: 0px;
    padding: 0px;
}

.qnaBtnSize{
    min-width: 450px;
}


@media (max-width: 991.98px){
    .qnaBound {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .qnaBtnSize{
        min-width: 300px;
    }
}

@media screen and (min-width: 992px) {
    #scrollToTopBtn:hover{
        background-color: #d8d8d8e3; /* Add a dark-grey background on hover */
    }
}

.spacingForms {
    margin-top: 18px;
}

label {
    font-family: ChampagneLimousines;
    font-weight: bold;
}

.centerImg {
    display: block;  
    margin-left: auto; 
    margin-right: auto; 
}

@media screen and (max-height: 890px){
    .ScaleStartPageLogo {
        -ms-transform: scale(0.6,0.6); /* IE 9 */
        -webkit-transform: scale(0.6,0.6); /* Safari */
        transform: scale(0.6,0.6); /* Standard syntax */
        padding-bottom: 0px;
        margin-bottom: -100px;
    }
}

.LoginContainer{
    background-color: #54595de0;
    margin: 100px auto;
    max-width: 450px;
    padding: 50px 0px;
}

.loginBox {
    margin-left:auto;
    margin-right: auto;
    max-width: 400px;
}

.loginField {
    width: 90%;
    height: 40px;
    margin: 15px;
    font-family: ChampagneLimousines;
}

.loadingBG {
    position: fixed;
    z-index: 9996;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #606569;
}

.loadingContent {
    height: 140px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px; /* Half the width*/
    margin-top: -70px; /* Half the height*/
    color: white;
}

.loadingContent img {
    width: 100px;
    height: 100px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -ms-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;
  }

.cookiestyle {
    width: 100%;
    background-color: #606569;
    color: white;
    padding: 10px;
}

.adminContainer {
    display: flex;    
}

.sidebarContainer {
    width: 200px;
    background-color: #606569;
    margin-right: 10px;
    margin-bottom: auto;
    margin-top: 20px;
}

@media screen and (max-width: 991.98px){
    .adminContainer {
        display: block;
    }   
    .sidebarContainer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}


.sidebarContainer a {
    color:white;
    text-decoration: none;
    font-family: ChampagneLimousines;
    font-size: 17px;
}

.sidebarContainer a:hover {
    color:white;
    text-decoration: none;
    background-color: #ffffffb4;
}

.adminContent {
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    min-height: 1000px;
    margin-top: 20px;
}

.adminNavBlock {
    display: block;
    padding: 5px;
}

.adminNavLine {
    margin: 0px 5px;
}

.form-control {
    border-radius: 0px;
}

form label {
    font-size: 20px;
    color: #606569;
}

.anmalan {
    font-size:90px;
}

.rubrikerAnmalan {
    font-size: 50px;
}

@media screen and (max-width: 991.98px){
    form label {
        font-size: 15px;
    }

    .anmalan {
        font-size:50px;
    }
    
    .rubrikerAnmalan {
        font-size: 30px;
    }
}

.centerEditButton {
    vertical-align: middle;
}

.table th {
    vertical-align: middle;
    max-height: 62px;
}



.brightenOnHover:hover {
    filter: opacity(80%);
    -webkit-filter: opacity(80%);
}
